<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="html (content)">
<head>
    <meta charset="UTF-8">
    <title th:text="${pageName != null ? pageName : 'Demo Application'}">Demo Application</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<header th:if="${showHeader != false}" th:replace="~{layout/header :: header}"></header>

<main class="container-fluid">
    <div th:replace="${content}"></div>
</main>

<footer th:if="${showFooter == true}" th:replace="~{layout/footer :: footer}"></footer>

<script th:src="@{/js/script.js}"></script>

</body>
</html>