<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main-layout :: html(content=~{::main})}"
>
<main th:fragment="main">

<a class="btn clr" th:href="@{/home/clear}">Clear</a>
<a class="btn addAll" th:href="@{/home/addAll}">Add All</a>
<a class="btn add" th:href="@{/home/add}">Add</a>

    <div class="filtr">
        <label><input type="radio" value="All" checked name="searchField">All</label>
        <label><input type="radio" value="Id" name="searchField">Id</label>
        <label><input type="radio" value="Name" name="searchField">Name</label>
        <label><input type="radio" value="Surname" name="searchField">Surname</label>
        <label><input type="radio" value="Email" name="searchField">Email</label>
        <label><input type="radio" value="Age" name="searchField">Age</label>
    </div>

<div id="peopleTable" class="tb" th:if="${people!=null and !people.isEmpty()}">
    <table border="1">
       <thead>
            <tr>
                <th onclick="sortTable(0)">Id</th>
                <th onclick="sortTable(1)">Name</th>
                <th onclick="sortTable(2)">Surname</th>
                <th onclick="sortTable(3)">Email</th>
                <th onclick="sortTable(4)">Age</th>
                <th >Buttons</th>
            </tr>
       </thead>
       <tbody>
            <tr th:each="person : ${people}" th:attr="data-id=${person.getId()}">
                <td th:text="${person.getId()}"></td>
                <td th:text="${person.getName()}"></td>
                <td th:text="${person.getSurname()}"></td>
                <td th:text="${person.getEmail()}"></td>
                <td th:text="${person.getAge()}"></td>
                <td>
                    <a class="dlt btn" th:onclick="'deleteByRow('+${person.getId()}+')'">Delete</a>
                    <a class="dlt btn" th:href="@{/home/edit/{id}(id=${person.getId()})}">Edit</a>
                </td>
            </tr>
       </tbody>
    </table>
</div>


<div th:if="${people==null or people.isEmpty()}">
    <p>No data</p>
</div>

</main>
